//Big button
.big-button{
  background: $purple;
  border:none;
  border-bottom: .6rem solid darken($purple, 10%);
  color:white;
  font-weight: bold;
  font-size: $l-size;
  width: 100%;
  margin-bottom: $m-size;
  padding: 2.4rem;
}

.big-button:disabled{
  opacity: .5;
}


@media (min-width: $desktop-breakpoint){
  .big-button{
     margin-bottom: $xl-size;
  }

}


//Button
.button{
  background: $purple;
  order:none;
  border-bottom: .3rem solid darken($purple, 10%);
  color:white;
  font-weight: 500;
  padding: $s-size;
  
}

.button--link{
  background: none;
  border:none;
  color:$off-white;
  padding: 0;
}

